@if( auth.user)

    Logged in as {{ auth.user.fullName }}
    <form>
        {{ csrfField() }}
        <button type="submit">Logout</button>
    </form>

@else

    <a href="{{ route('auth.register.show') }}" > Register</a>

@endif